@font-face {
    font-family: fortnite;
    src: url("../font/fortnite.otf");
}

.loginPanel {
    background-color: rgba(10,10,10,0.8);
    color: #F0F0F0;
    padding: 15px;

    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    font-size: 18pt;
}

.loginElement {
    margin: 10px;
}

.loginInput {
    border-radius: 8px;
    border-style: none;
    padding: 5px;
    width: 100%;
}

h1.loginTitle {
    text-align: center;
    margin: 15px;
}

input[type='submit'].loginElement {
    border-style: none;
    border-radius: 15px;
    padding: 5px;
    width: 100%;
    margin: auto;
    font-family: fortnite;
    color: white;
    background-color: #0F0F0F;
    font-size: 16pt;
}

input[type='submit'].loginElement:hover {
    background-color: black;
}