@font-face {
    font-family: fortnite;
    src: url('../font/fortnite.otf');
}

@font-face {
    font-family: noto;
    src: url('../font/NotoSans-Bold.ttf');
}

.charactersPanel {
    height: 120%;
    position: relative;
    margin: 25px;
    margin-top: 0px;
    background-color: rgba(10, 10, 10, 0.8);
}

.selectionHeader {
    margin: 15px;
}

.selectionBody {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    overflow-y: scroll;
    justify-content: center;
}

.selectable:hover {
    filter: brightness(110%);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.unselectable {
    background-color: rgb(97, 97, 97);
    filter: grayscale(100%);
}

.unselectable:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

img {
    width: 150px;
    object-fit: cover;
    margin: 15px;
    background-color: rgba(178, 207, 211, 0.897);
    border: rgba(255, 255, 255, 0.897) 5px solid; 
}