@font-face {
    font-family: fortnite;
    src: url("../font/fortnite.otf");
}

@font-face {
    font-family: noto;
    src: url("../font/NotoSans-Bold.ttf");
}

.insigniaPanel {
    width: 100%;
    overflow-y: scroll;
    max-height: 100%;
    margin-right: 15px;
    font-family: noto;
    font-size: 14pt;
}

.insignia {
    margin: 15px;
    background-color: rgba(10, 10, 10, 0.8);
    display: flex;
    justify-content: start;
}

.insignia:hover {
    background-color: rgba(10, 10, 10, 0.9);
}

.insigniaImg {
    width: 50px;
    margin: 5px;
}

p {
    margin: 0;
}

.insigniaCompleted {
    text-align: right;
    padding: 15px;
}

.insigniaName {
    text-align: left;
    padding: 15px 0 15px 0;
}

.insigniaText2 {
    margin-left: auto;
}
