@font-face {
    font-family: fortnite;
    src: url("../font/fortnite.otf");
}

@font-face {
    font-family: noto;
    src: url("../font/NotoSans-Bold.ttf");
}

body {
    font-family: fortnite;
    background-color: #F0F0F0;
    color: #0F0F0F;
    margin: 0px;
    background-image: url("../media/map.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    font-size: 12pt;
}

.header {
    display: flex;
    background-color: #0F0F0F;
    color: #F0F0F0;
}

.mainTitle {
    padding: 10px 0 0 15px ;
    margin: 0 auto 0 0;
    font-size: 32pt;
}

.headerRightElement {
    display: flex;
    border: solid;
    margin: 10px 5px 10px 5px;
    padding: 5px;
    width: 75px;
    text-align: right;
    align-items: center;
}

.headerInfo {
    margin: 0 5px 0 auto;
}

.headerIcon {
    margin: 0;
    width: 24px;
}

.navBar {
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: noto;
}

.navBarElement {
    width: 100px;
    padding: 5px;
    margin: 0px auto 0px auto;
    background-color: rgba(163, 211, 255, 0.3);
    color: #F0F0F0;
    text-align: center;
    text-decoration: none;
}

.navBarElement:hover {
    background-color: rgba(163, 211, 255, 0.5);
}

.navBarElement:active {
    background-color: rgba(255, 246, 0, 1);
    color: #0F0F0F;
}

.mainContent {
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
    color: #F0F0F0;
    text-align: center;
    font-size: 16pt;
    height: 70%;

    position: relative;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.leftBar {
    margin-top: 30px;
    margin-left: 15px;
    height: 100%;
}

.profileBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(10, 10, 10, 0.8);
    width: 300px;
}

.levelText {
    padding: 5px;
    margin: auto;
}

.levelNumber {
    font-size: 150%;
}

.profilePic {
    width: 150px;
    object-fit: cover;
    padding: 15px;
}

.characterPanel {
    position: absolute;
    left: 50%;
    z-index: -1;
    top: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.characterModel {
    max-height: 500px;
}

.rightBar {
    height: 100%;
    width: 300px;
    margin: auto 15px auto 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.teacherBar {
    background-color: rgba(10, 10, 10, 0.8);
    margin-bottom: 15px;
}

.grandpaBar {
    background-color: rgba(10, 10, 10, 0.8);
    margin-top: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(10,10,10,0.6);
  border-radius: 16px;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 16px;
}

body {
    scrollbar-color: #000000 rgba(10,10,10,0.6);;
    scrollbar-width: thin;
}